.DS_Store
.cljs_node_repl
.nrepl-port
figwheel_server.log
klipse-access-logs/
resources/private/
resources/public/cards
resources/public/fig
resources/public/dev
resources/public/plugin
resources/public/plugin_prod
target/
.lein-repl-history
*-init.clj
*.swp
.cljs_node_repl/
docs/cache-cljs/local-m2/