.DS_Store
.cpcache/
.cljs_node_repl
.nrepl-port
*.log
figwheel_server.log
klipse-access-logs/
resources/private/
resources/public/cards
resources/public/fig
resources/public/dev
resources/public/plugin
resources/public/plugin_prod
target/
.lein-repl-history
*-init.clj
*.swp
.cljs_node_repl/
docs/cache-cljs/local-m2/
.idea/
*.iml
out/
.rebel_readline_history
pom.xml*
.lsp/
Session.vim
tags*
