{:paths ["src" "target" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript  #_{:git/url "https://github.com/clojure/clojurescript" :sha "6ccb629e365f46a9516e4defeced652cce9d4d35"} {:mvn/version "1.10.520"}
        viebel/klipse-clj          #_{:git/url "https://github.com/viebel/klipse-clj.git"
                                      :sha "642bd2815fd046369a60120954b7cad929cde711"} #_{:local/root "/Users/viebel/prj/klipse-clj"} {:mvn/version "10.1.5"}
        org.clojure/core.async {:mvn/version "0.4.474"}
        appliedscience/js-interop {:mvn/version "0.1.20"}
        viebel/codemirror-parinfer {:mvn/version "0.0.3"}
        cljsjs/markdown {:mvn/version "0.6.0-beta1-0"}
        cljs-http {:mvn/version "0.1.42"}
        viebel/gadjett {:mvn/version "0.5.4"}
        com.cemerick/url {:mvn/version "0.1.1"}
        com.cognitect/transit-cljs {:mvn/version "0.8.256"}
        cljsjs/codemirror {:mvn/version "5.19.0-0"}}
 :aliases {:test {:extra-paths ["test"]}
           :fig-cider {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
                                    com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}}
           :figwheel {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.1.9"}
                                   com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
                      :main-opts ["-m" "figwheel.main"]}}}
