{:paths ["src" "lib"]
 :deps {org.clojure/clojure        {:mvn/version "1.9.0-alpha14"}
        org.clojure/clojurescript  {:mvn/version "1.10.238"}
        org.clojure/tools.reader   {:mvn/version "1.3.0"}
        org.clojure/core.async     {:mvn/version "0.4.474"}
        binaryage/devtools         {:mvn/version "0.8.2"}
        im.chit/purnam             {:mvn/version "0.5.2"}
        viebel/codemirror-parinfer {:mvn/version "0.0.3"}
        cljsjs/markdown            {:mvn/version "0.6.0-beta1-0"}
        cljs-http                  {:mvn/version "0.1.42"}
        viebel/gadjett             {:mvn/version "0.5.2"}
        org.omcljs/om              {:mvn/version "1.0.0-alpha47"}
        com.cemerick/url           {:mvn/version "0.1.1"}
        cljsjs/codemirror          {:mvn/version "5.19.0-0"}}
 :aliases {:test {:extra-paths ["test/cljs"]}}}