^{:target-dir "resources/public/plugin"
  #_:build-inputs #_{:pretty-print false
                :optimize-constants true
                :static-fns true
;                :closure-defines {klipse.core/version "7.7.0"}
                :optimizations simple
                :verbose false}}

{:main klipse.run.plugin.plugin
 :pretty-print false
 :optimizations :simple
 :optimize-constants true
 :static-fns true}
