.evaluation-results-clj {
    border: 2px solid blue;
    color: orange;
}
.evaluation-results-js {
    border: 2px solid blue;
    color: blue;
}

.compilation-results {
    border: 2px solid #73AD21;
    color: #73AD21;
}
